body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 200px;
    margin-bottom: 20px;
}
header h1 {
    margin: 0;
    font-size: 36px;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

article {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

 /* Animación de desplazamiento */
 .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}
.visible {
    opacity: 1;
    transform: translateY(0);
}

.social-media {
    margin-top: 1rem;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #333;
    transition: background-color 0.3s;
}

.social-media a:hover {
    background-color: #555;
}



